# Ignorar carpetas de Visual Studio
App/.vs/
App/*.user
App/*.suo

# Ignorar binarios y carpetas de compilación
App/bin/
App/obj/
App/out/

# Ignorar archivos temporales del sistema
App/.DS_Store
App/Thumbs.db

# Ignorar dependencias comunes
App/node_modules/
App/vendor/

# Ignorar archivos de entorno
App/.env
