USE [SubliColorBD1]
GO
/****** Object:  Table [Caja].[CajaDiaria]    Script Date: 23/5/2025 09:14:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Caja].[CajaDiaria](
	[CajaDiariaId] [int] IDENTITY(1,1) NOT NULL,
	[UsuarioId] [int] NOT NULL,
	[Fecha] [date] NOT NULL,
	[MontoApertura] [decimal](10, 2) NOT NULL,
	[Estado] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CajaDiariaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Compras].[DetalleOrdenCompra]    Script Date: 23/5/2025 09:14:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Compras].[DetalleOrdenCompra](
	[DetalleOrdenCompraId] [int] IDENTITY(1,1) NOT NULL,
	[OrdenCompraId] [int] NOT NULL,
	[ProductoId] [int] NOT NULL,
	[Cantidad] [int] NOT NULL,
	[PrecioUnitario] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DetalleOrdenCompraId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Compras].[OrdenCompra]    Script Date: 23/5/2025 09:14:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Compras].[OrdenCompra](
	[OrdenCompraId] [int] IDENTITY(1,1) NOT NULL,
	[ProveedorId] [int] NOT NULL,
	[FechaOrden] [datetime] NOT NULL,
	[Estado] [nvarchar](50) NOT NULL,
	[Total] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[OrdenCompraId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Configuracion].[ParametroSistema]    Script Date: 23/5/2025 09:14:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Configuracion].[ParametroSistema](
	[ParametroSistemaId] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Valor] [nvarchar](255) NOT NULL,
	[Descripcion] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ParametroSistemaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Finanzas].[Moneda]    Script Date: 23/5/2025 09:14:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Finanzas].[Moneda](
	[MonedaId] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[Simbolo] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MonedaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Personas].[Cliente]    Script Date: 23/5/2025 09:14:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Personas].[Cliente](
	[ClienteId] [int] IDENTITY(1,1) NOT NULL,
	[PersonaId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ClienteId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[PersonaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Personas].[Persona]    Script Date: 23/5/2025 09:14:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Personas].[Persona](
	[PersonaId] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Apellido] [nvarchar](100) NOT NULL,
	[Telefono] [nvarchar](20) NULL,
	[Email] [nvarchar](100) NULL,
	[TipoIdentificacion] [nvarchar](50) NULL,
	[NumeroIdentificacion] [nvarchar](50) NULL,
	[FechaNacimiento] [date] NULL,
	[Sexo] [char](1) NULL,
	[Facebook] [nvarchar](100) NULL,
	[Instagram] [nvarchar](100) NULL,
	[Twitter] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[PersonaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Personas].[Proveedor]    Script Date: 23/5/2025 09:14:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Personas].[Proveedor](
	[ProveedorId] [int] IDENTITY(1,1) NOT NULL,
	[PersonaId] [int] NOT NULL,
	[Empresa] [nvarchar](200) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ProveedorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[PersonaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Productos].[Categoria]    Script Date: 23/5/2025 09:14:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Productos].[Categoria](
	[CategoriaId] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[CategoriaPadreId] [int] NULL,
	[EstaActivo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoriaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Productos].[Producto]    Script Date: 23/5/2025 09:14:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Productos].[Producto](
	[ProductoId] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Descripcion] [nvarchar](255) NULL,
	[Precio] [decimal](10, 2) NOT NULL,
	[Stock] [int] NOT NULL,
	[Costo] [decimal](10, 2) NULL,
	[MargenGanancia] [decimal](5, 2) NULL,
	[StockMinimo] [int] NULL,
	[Imagen] [nvarchar](255) NULL,
	[CategoriaId] [int] NOT NULL,
	[UnidadMedidaId] [int] NOT NULL,
	[EstaActivo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Productos].[UnidadMedida]    Script Date: 23/5/2025 09:14:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Productos].[UnidadMedida](
	[UnidadMedidaId] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UnidadMedidaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Productos].[Variantes]    Script Date: 23/5/2025 09:14:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Productos].[Variantes](
	[VarianteId] [int] IDENTITY(1,1) NOT NULL,
	[ProductoId] [int] NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Valor] [nvarchar](100) NOT NULL,
	[EstaActivo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[VarianteId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Seguridad].[AuditoriaInicioSesion]    Script Date: 23/5/2025 09:14:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Seguridad].[AuditoriaInicioSesion](
	[AuditoriaInicioSesionId] [int] IDENTITY(1,1) NOT NULL,
	[UsuarioId] [int] NULL,
	[FechaInicio] [datetime] NOT NULL,
	[FechaFin] [datetime] NULL,
	[DireccionIP] [nvarchar](50) NULL,
	[Dispositivo] [nvarchar](100) NULL,
	[Ubicacion] [nvarchar](100) NULL,
	[Exitoso] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AuditoriaInicioSesionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Seguridad].[Permiso]    Script Date: 23/5/2025 09:14:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Seguridad].[Permiso](
	[PermisoId] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Descripcion] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[PermisoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Seguridad].[PinRecuperacion]    Script Date: 23/5/2025 09:14:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Seguridad].[PinRecuperacion](
	[PinRecuperacionId] [int] IDENTITY(1,1) NOT NULL,
	[UsuarioId] [int] NOT NULL,
	[Pin] [nvarchar](10) NOT NULL,
	[FechaCreacion] [datetime] NOT NULL,
	[FechaExpiracion] [datetime] NOT NULL,
	[Usado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PinRecuperacionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Seguridad].[Rol]    Script Date: 23/5/2025 09:14:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Seguridad].[Rol](
	[RolId] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[Descripcion] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[RolId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Seguridad].[RolPermiso]    Script Date: 23/5/2025 09:14:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Seguridad].[RolPermiso](
	[RolPermisoId] [int] IDENTITY(1,1) NOT NULL,
	[RolId] [int] NOT NULL,
	[PermisoId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RolPermisoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Seguridad].[Usuario]    Script Date: 23/5/2025 09:14:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Seguridad].[Usuario](
	[UsuarioId] [int] IDENTITY(1,1) NOT NULL,
	[PersonaId] [int] NOT NULL,
	[Email] [nvarchar](150) NOT NULL,
	[NombreUsuario] [nvarchar](50) NOT NULL,
	[ContrasenaHash] [nvarchar](255) NOT NULL,
	[EstaActivo] [bit] NOT NULL,
	[EstaBloqueado] [bit] NOT NULL,
	[IntentosFallidos] [int] NOT NULL,
	[FechaBloqueo] [datetime] NULL,
	[FechaModificacion] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[UsuarioId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[NombreUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Seguridad].[UsuarioRol]    Script Date: 23/5/2025 09:14:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Seguridad].[UsuarioRol](
	[UsuarioRolId] [int] IDENTITY(1,1) NOT NULL,
	[UsuarioId] [int] NOT NULL,
	[RolId] [int] NOT NULL,
	[EstaActivo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UsuarioRolId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Ventas].[DetalleDevolucion]    Script Date: 23/5/2025 09:14:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Ventas].[DetalleDevolucion](
	[DetalleDevolucionId] [int] IDENTITY(1,1) NOT NULL,
	[DevolucionId] [int] NOT NULL,
	[ProductoId] [int] NOT NULL,
	[Cantidad] [int] NOT NULL,
	[PrecioUnitario] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DetalleDevolucionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Ventas].[DetalleVenta]    Script Date: 23/5/2025 09:14:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Ventas].[DetalleVenta](
	[DetalleVentaId] [int] IDENTITY(1,1) NOT NULL,
	[VentaId] [int] NOT NULL,
	[ProductoId] [int] NOT NULL,
	[Cantidad] [int] NOT NULL,
	[PrecioUnitario] [decimal](10, 2) NOT NULL,
	[Descuento] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[DetalleVentaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Ventas].[Devolucion]    Script Date: 23/5/2025 09:14:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Ventas].[Devolucion](
	[DevolucionId] [int] IDENTITY(1,1) NOT NULL,
	[VentaId] [int] NOT NULL,
	[FechaDevolucion] [datetime] NOT NULL,
	[Motivo] [nvarchar](255) NULL,
	[TotalDevuelto] [decimal](10, 2) NOT NULL,
	[UsuarioId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DevolucionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Ventas].[MetodoPago]    Script Date: 23/5/2025 09:14:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Ventas].[MetodoPago](
	[MetodoPagoId] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MetodoPagoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Ventas].[Pago]    Script Date: 23/5/2025 09:14:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Ventas].[Pago](
	[PagoId] [int] IDENTITY(1,1) NOT NULL,
	[VentaId] [int] NOT NULL,
	[MetodoPagoId] [int] NOT NULL,
	[Monto] [decimal](10, 2) NOT NULL,
	[FechaPago] [datetime] NOT NULL,
	[MonedaId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PagoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Ventas].[Venta]    Script Date: 23/5/2025 09:14:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Ventas].[Venta](
	[VentaId] [int] IDENTITY(1,1) NOT NULL,
	[ClienteId] [int] NOT NULL,
	[FechaVenta] [datetime] NOT NULL,
	[Total] [decimal](10, 2) NOT NULL,
	[DescuentoTotal] [decimal](10, 2) NULL,
	[Observacion] [nvarchar](255) NULL,
	[MonedaId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[VentaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [Compras].[OrdenCompra] ADD  DEFAULT (getdate()) FOR [FechaOrden]
GO
ALTER TABLE [Productos].[Categoria] ADD  DEFAULT ((1)) FOR [EstaActivo]
GO
ALTER TABLE [Productos].[Producto] ADD  DEFAULT ((0)) FOR [Stock]
GO
ALTER TABLE [Productos].[Producto] ADD  DEFAULT ((0)) FOR [StockMinimo]
GO
ALTER TABLE [Productos].[Producto] ADD  DEFAULT ((1)) FOR [EstaActivo]
GO
ALTER TABLE [Productos].[Variantes] ADD  DEFAULT ((1)) FOR [EstaActivo]
GO
ALTER TABLE [Seguridad].[AuditoriaInicioSesion] ADD  DEFAULT (getdate()) FOR [FechaInicio]
GO
ALTER TABLE [Seguridad].[AuditoriaInicioSesion] ADD  DEFAULT ((0)) FOR [Exitoso]
GO
ALTER TABLE [Seguridad].[PinRecuperacion] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [Seguridad].[PinRecuperacion] ADD  DEFAULT ((0)) FOR [Usado]
GO
ALTER TABLE [Seguridad].[Usuario] ADD  DEFAULT ((1)) FOR [EstaActivo]
GO
ALTER TABLE [Seguridad].[Usuario] ADD  DEFAULT ((0)) FOR [EstaBloqueado]
GO
ALTER TABLE [Seguridad].[Usuario] ADD  DEFAULT ((0)) FOR [IntentosFallidos]
GO
ALTER TABLE [Seguridad].[UsuarioRol] ADD  DEFAULT ((1)) FOR [EstaActivo]
GO
ALTER TABLE [Ventas].[DetalleVenta] ADD  DEFAULT ((0)) FOR [Descuento]
GO
ALTER TABLE [Ventas].[Devolucion] ADD  DEFAULT (getdate()) FOR [FechaDevolucion]
GO
ALTER TABLE [Ventas].[Pago] ADD  DEFAULT (getdate()) FOR [FechaPago]
GO
ALTER TABLE [Ventas].[Venta] ADD  DEFAULT (getdate()) FOR [FechaVenta]
GO
ALTER TABLE [Ventas].[Venta] ADD  DEFAULT ((0)) FOR [DescuentoTotal]
GO
ALTER TABLE [Caja].[CajaDiaria]  WITH CHECK ADD FOREIGN KEY([UsuarioId])
REFERENCES [Seguridad].[Usuario] ([UsuarioId])
GO
ALTER TABLE [Compras].[DetalleOrdenCompra]  WITH CHECK ADD FOREIGN KEY([OrdenCompraId])
REFERENCES [Compras].[OrdenCompra] ([OrdenCompraId])
GO
ALTER TABLE [Compras].[DetalleOrdenCompra]  WITH CHECK ADD FOREIGN KEY([ProductoId])
REFERENCES [Productos].[Producto] ([ProductoId])
GO
ALTER TABLE [Compras].[OrdenCompra]  WITH CHECK ADD FOREIGN KEY([ProveedorId])
REFERENCES [Personas].[Proveedor] ([ProveedorId])
GO
ALTER TABLE [Personas].[Cliente]  WITH CHECK ADD FOREIGN KEY([PersonaId])
REFERENCES [Personas].[Persona] ([PersonaId])
GO
ALTER TABLE [Personas].[Proveedor]  WITH CHECK ADD FOREIGN KEY([PersonaId])
REFERENCES [Personas].[Persona] ([PersonaId])
GO
ALTER TABLE [Productos].[Categoria]  WITH CHECK ADD FOREIGN KEY([CategoriaPadreId])
REFERENCES [Productos].[Categoria] ([CategoriaId])
GO
ALTER TABLE [Productos].[Producto]  WITH CHECK ADD FOREIGN KEY([CategoriaId])
REFERENCES [Productos].[Categoria] ([CategoriaId])
GO
ALTER TABLE [Productos].[Producto]  WITH CHECK ADD FOREIGN KEY([UnidadMedidaId])
REFERENCES [Productos].[UnidadMedida] ([UnidadMedidaId])
GO
ALTER TABLE [Productos].[Variantes]  WITH CHECK ADD FOREIGN KEY([ProductoId])
REFERENCES [Productos].[Producto] ([ProductoId])
GO
ALTER TABLE [Seguridad].[AuditoriaInicioSesion]  WITH CHECK ADD  CONSTRAINT [FK_AuditoriaInicioSesion_Usuario] FOREIGN KEY([UsuarioId])
REFERENCES [Seguridad].[Usuario] ([UsuarioId])
GO
ALTER TABLE [Seguridad].[AuditoriaInicioSesion] CHECK CONSTRAINT [FK_AuditoriaInicioSesion_Usuario]
GO
ALTER TABLE [Seguridad].[PinRecuperacion]  WITH CHECK ADD FOREIGN KEY([UsuarioId])
REFERENCES [Seguridad].[Usuario] ([UsuarioId])
GO
ALTER TABLE [Seguridad].[RolPermiso]  WITH CHECK ADD FOREIGN KEY([PermisoId])
REFERENCES [Seguridad].[Permiso] ([PermisoId])
GO
ALTER TABLE [Seguridad].[RolPermiso]  WITH CHECK ADD FOREIGN KEY([RolId])
REFERENCES [Seguridad].[Rol] ([RolId])
GO
ALTER TABLE [Seguridad].[Usuario]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_Persona] FOREIGN KEY([PersonaId])
REFERENCES [Personas].[Persona] ([PersonaId])
GO
ALTER TABLE [Seguridad].[Usuario] CHECK CONSTRAINT [FK_Usuario_Persona]
GO
ALTER TABLE [Seguridad].[UsuarioRol]  WITH CHECK ADD FOREIGN KEY([RolId])
REFERENCES [Seguridad].[Rol] ([RolId])
GO
ALTER TABLE [Seguridad].[UsuarioRol]  WITH CHECK ADD FOREIGN KEY([UsuarioId])
REFERENCES [Seguridad].[Usuario] ([UsuarioId])
GO
ALTER TABLE [Ventas].[DetalleDevolucion]  WITH CHECK ADD FOREIGN KEY([DevolucionId])
REFERENCES [Ventas].[Devolucion] ([DevolucionId])
GO
ALTER TABLE [Ventas].[DetalleDevolucion]  WITH CHECK ADD FOREIGN KEY([ProductoId])
REFERENCES [Productos].[Producto] ([ProductoId])
GO
ALTER TABLE [Ventas].[DetalleVenta]  WITH CHECK ADD FOREIGN KEY([ProductoId])
REFERENCES [Productos].[Producto] ([ProductoId])
GO
ALTER TABLE [Ventas].[DetalleVenta]  WITH CHECK ADD FOREIGN KEY([VentaId])
REFERENCES [Ventas].[Venta] ([VentaId])
GO
ALTER TABLE [Ventas].[Devolucion]  WITH CHECK ADD FOREIGN KEY([UsuarioId])
REFERENCES [Seguridad].[Usuario] ([UsuarioId])
GO
ALTER TABLE [Ventas].[Devolucion]  WITH CHECK ADD FOREIGN KEY([VentaId])
REFERENCES [Ventas].[Venta] ([VentaId])
GO
ALTER TABLE [Ventas].[Pago]  WITH CHECK ADD FOREIGN KEY([MetodoPagoId])
REFERENCES [Ventas].[MetodoPago] ([MetodoPagoId])
GO
ALTER TABLE [Ventas].[Pago]  WITH CHECK ADD FOREIGN KEY([MonedaId])
REFERENCES [Finanzas].[Moneda] ([MonedaId])
GO
ALTER TABLE [Ventas].[Pago]  WITH CHECK ADD FOREIGN KEY([VentaId])
REFERENCES [Ventas].[Venta] ([VentaId])
GO
ALTER TABLE [Ventas].[Venta]  WITH CHECK ADD FOREIGN KEY([ClienteId])
REFERENCES [Personas].[Cliente] ([ClienteId])
GO
ALTER TABLE [Ventas].[Venta]  WITH CHECK ADD FOREIGN KEY([MonedaId])
REFERENCES [Finanzas].[Moneda] ([MonedaId])
GO
